.counterContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
button {
  padding: 10px 20px;
  background-color: #396bb6;
  color: rgb(248, 245, 245);
  border: none;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  font-size: 16px;
  transition: all 0.3s ease;
}
button:hover {
  background-color: #4daa50;
}
button:active {
  transform: scale(0.95);
}
button:focus {
  outline: none;
}
